@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --red--light: hsl(356, 100%, 66%);
  --red--hover: hsl(355, 100%, 74%);
  --bkg: hsl(0, 0%, 100%);
  --text--footer: hsl(240, 2%, 79%);
  --text--body: hsl(207, 13%, 34%);
  --text--headings: hsl(208, 49%, 24%);
  --bkg--footer: hsl(240, 10%, 16%);
  --gradient--bkg: linear-gradient(
    180deg,
    hsl(13, 100%, 72%) 0%,
    hsl(356, 100%, 66%) 100%
  );
  --gradient--body: linear-gradient(
    180deg,
    hsl(237, 17%, 21%) 0%,
    hsl(237, 23%, 32%) 100%
  );
}

html {
  font-size: 16px;
}

body {
  font-family: "Overpass", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

#desktop-nav {
  align-items: center;
  padding: 13px 33px;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  flex-direction: row;
  align-items: center;
  width: 435px;
  margin-right: 10em;
}

a {
  color: var(--medium-gray);
  text-decoration: none;
  text-decoration-color: var(--almost-White);

  font-family: "Epilogue", sans-serif;
}

a:hover {
  color: var(--medium-gray);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--medium-gray);
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin-left: 0 auto;
}

.hamburger-icon span {
  width: 150%;
  height: 2px;
  background-color: var(--bkg);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  color: var(--text--headings);
  background-color: var(--bkg);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3 ease-in-out;
}

.menu-links button {
  margin-top: 20px;
}

.menu-links a {
  display: flex;
  padding: 10px;

  text-align: center;
  font-size: 13px;
  color: var(--medium-gray);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  align-self: start;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;

  width: 150px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(40deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-43deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.login-register-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-top: -2px;
  gap: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.login-register-container button {
  padding: 8px 18px;
  border-radius: 1rem;
}

.login-btn {
  border: none;
  background-color: transparent;
  color: var(--bkg);
}

.sign-up-btn {
  border: 1px solid var(--bkg);
  background-color: var(--bkg);
  color: var(--red--light);
}

.main-header {
  display: flex;
}

.header-content h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

header {
  background: var(--gradient--bkg);
  color: var(--bkg);
  position: relative;
  border-bottom-left-radius: 4rem;
}

.start-btn,
.learn-btn {
  padding: 8px 18px;
  border-radius: 1rem;
  border: 1px solid var(--bkg);
}

.start-btn {
  background-color: var(--bkg);
  color: var(--red--light);
}

.start-btn:is(:hover, :focus) {
  background-color: var(--red--hover);
  color: var(--bkg);
  border-color: transparent;
  cursor: pointer;
}

.learn-btn {
  background-color: transparent;
  color: var(--bkg);
}

.learn-btn:is(:hover, :focus) {
  background-color: var(--bkg);
  color: var(--red--light);
  cursor: pointer;
}
.header-content p {
  text-align: center;
}

.start-learn-btn {
  text-align: center;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  padding-bottom: 5rem;
  justify-content: center;
}

#future-design {
  min-height: 100vh;
  position: relative;
  margin: 0 5rem;
  background: var(--bkg);
  width: 100%;
  padding: 8rem 0 3rem 8rem;
}

.future {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.future-content {
  flex-basis: 50%;
}

h2 {
  font-size: 2.5rem;
  color: var(--text--headings);
  font-weight: 700;
  font-family: "Overpass", sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
}

h3 {
  color: var(--text--headings);
  margin-bottom: 2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  padding-top: 2rem;
}

p {
  font-size: 0.8rem;
  margin-bottom: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  line-height: 2;
}
.future-design-image {
  position: relative;
  flex-basis: 50%;
  margin-left: 2rem;
}

.future-design-image .desktop-editor {
  width: 120%;
  position: relative;
}

.future-design-image .mobile-editor {
  display: none;
}

.infrastructure {
  background: url("./images/bg-pattern-circles.svg") no-repeat -50% 80%,
    linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-position: fixed;
  display: flex;
  align-items: center;
  color: var(--bkg);
  height: 400px;
  padding: 0 100px 0 120px;
  margin-top: 60px;
  border-radius: 0 100px 0 100px;

  overflow-x: visible;
}

.illustration-image {
  margin-top: 40px;
  overflow-x: visible;
}

.Infrastructure-content {
  margin: -5px 0 0 50px;
}

.Infrastructure-content h3 {
  font-size: 28px;
  font-family: "Overpass", sans-serif;
  margin-bottom: 30px;
  color: var(--bkg);
  margin-left: 2rem;
}

.Infrastructure-content p {
  font-family: "Overpass", sans-serif;
  color: var(--bkg);
  line-height: 1.9;
  margin-left: 2rem;
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}
